* {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

body {
  background-color: #55FF76;
}

header {
  width: 100%;
  margin: 10px;
  text-align: center;
  color: gray;
}

h1 {
  font-size: 35px;
  letter-spacing: 2px;
}

section {
  width: 75%;
  margin: 0 auto;
}

#form {
  width: 100%;
  background-color: #F0F0F0;
  padding: 20px;
  border-radius: 20px;
}

.check {
  display: inline;
  margin-left: 5px;
}

.btn {
  padding: 10px;
  width: 100px;
}

#option-1, #option-2, #option-3, #option-4 {
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
}

#destino {
  margin-top: 20px;
}

#text-area {
  resize: none;
  width: 50%;
  margin-bottom: 20px;
}

.wide {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

#data {
  margin-bottom: 20px;
}
